/* ==========================================================================
    Slider
    ========================================================================== */

// Standaard frame weghalen
.bx-wrapper{
  .bx-viewport{
    -moz-box-shadow:0;
    -webkit-box-shadow:0;
    box-shadow:none;
    border:none;
    left:0;
    background:#fff;
  }
}

.slider-wrapper{
  position:relative;
  .bxslider{
    // Reset stotter weghalen
    -webkit-perspective: 1000;
    perspective: 1000;
    .slide{
      height: 431px;
      position:relative;
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      .overlay{
        position: absolute;
        width:100%;
        bottom: 0;
        text-align: center;
        background:rgba(97, 96, 91, 0.78);
        padding: 10px;
        q {
          font-size:24px;
          font-weight:bold;
          color:#fff;
          line-height:34px;
          margin:0;
        }
        p{
          font-size:18px;
          font-weight:bold;
          color:#fff;
          line-height:32px;
          margin:0;
        }
      }
    }
  }
}

@media (max-width: 1199px){
  .slider-wrapper{
    .bxslider{
      .slide{
        height:431px;
        .overlay{
          q {
            line-height: 26px;
            font-size:18px;
          }
          p{
            font-size:14px;
          }
        }
      }
    }
  }
}
@media (max-width: 992px){
  .slider-wrapper{
    .bxslider{
      .slide{
        height:350px;
                .overlay{
          q {
            line-height: 26px;
            font-size:20px;
          }
          p{
            font-size:16px;
          }
        }
      }
    }
  }
}
@media (max-width: 600px){
  .slider-wrapper{
    .bxslider{
      .slide{
        height:400px;
        .overlay{
          q {
            line-height: 24px;
            font-size:18px;
          }
          p{
            font-size:15px;
          }
        }
      }
    }
  }
}

// temp
.maps{
  min-height:0;
  height:inherit;
}